.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.message {
  width: 300px;
  height: 300px;
  border: 2px solid purple;
  border-radius: 15px;
}
.author {
  color: blueviolet;
}
.body_message{
  color: red;
}
